
html,
body {
  height: 100%;
}

body.full-height-layout #wrapper,
body.full-height-layout #page-wrapper {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #ffffff;
  font-size: 13px;
  color: #676a6c;
  overflow-x: hidden;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.block {
  display: block;
}

.has-height {
  min-height: 1px;
}

.pointer {
  cursor: pointer;
}

.relative {
  position: relative;
}

.hidden {
  display: none;
}

.opacity-hidden {
  opacity: 0;
}

.overflow-hidden {
  overflow: hidden;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

[class*="icon-"] {
  font-family: "iconfont",serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

#app {
  height: 100%;
  background-color: #f0f0f0;
}

ul.reset {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}


.el-container {
  height: 100%;
}
.el-table {
  &.el-table--mini {
    .operations {
      [class^=el-icon] {
        margin: 0 10px;
        font-size: 14px;
        cursor: pointer;
      }
    }
    .el-link {
      font-size: 10px;
      line-height: 15px;
    }
  }
}



.app-main .el-container {
  background-color: white;
}

.el-breadcrumb {
  font-size: 18px;
}



.max-width-100 {
  max-width: 100px;
}
.max-width-130 {
  max-width: 130px;
}
.max-width-200 {
  max-width: 200px;
}
.max-width-300 {
  max-width: 300px;
}
.max-width-555 {
  max-width: 555px;
}